.contentUser {
    padding: 50px;
    margin-bottom: 60px;
}

.colInfo img {
    height: 30px;
}

.colInfo {
    margin-top: 15px;
}

.contentUserImg {
    margin-top: 30px;
    margin-left: 50px;
}

* {
    color: white;
}

.commentsTitle {
    margin-bottom: 50px;
    text-align: center;
    color: #12F7D6;
    font-size: 40px;
}

.iconComment {
    display: flex;
    position: absolute;
    height: 60px;
    padding-left: 200px;
}